## MacOS
.DS_Store

## User settings
xcuserdata/

## Package Managers
Pods/*
Carthage/*
Packages/*
.swiftpm/*
Package.resolved

## Bundler
.bundle/
bin/
.bin/
.vendor/

## XCode local data
Build/
DerivedData/
.build/
